@import url("https://fonts.googleapis.com/css2?family=Kalam&family=Roboto&display=swap");

* {
  font-family: "Kalam", cursive;
}

/*Estilos index.html*/
nav {
  background-color: #475051;
  border-radius: 20px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  font-family: "Kalam", cursive;
}

.center {
  text-align: center;
}

.nome-site {
  font-size: 18px;
  padding-left: 10px;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin-right: 20px;
  font-size: 18px;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  color: #6c5954;
}

.conteudo {
  font-family: "Kalam", cursive;
}

#banner {
  display: flex;
  align-content: center;
  width: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 90px;
  padding: 20px;
}

.container {
  background-color: #b7b3b8;
  margin: 0 auto;
  margin-bottom: 25px;
  width: 55%;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.container-jogos {
  margin: 0 auto;
  margin-bottom: 25px;
  width: 70vw;
  display: flex;
  flex-flow: row;
  justify-content: right;
}

.div1 {
  display: flex;
  flex-flow: row;
  justify-content: center;
  background-color: #b7b3b8;
  border-radius: 20px;
  margin-top: 30px;
}

.sinopse {
  margin-left: 20px;
  align-self: center;
}

.sobre {
  padding-left: 20px;
  margin-left: 50px;
}

.imagem-jogo {
  width: 300px;
  margin-top: 50px;
  margin-right: 200px;
  border: 5px solid black;
  border-radius: 10px;
}

.trailer {
  text-align: center;
}

.footer {
  text-align: center;
  border-radius: 20px;
  width: 100%;
  font-family: "Permanent Marker", cursive;
}

.container-social {
  margin: 0 auto;
  margin-bottom: 25px;
  width: 55%;
  border-radius: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-flow: row;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.tm-social {
  width: 50px;
  height: 50px;
  padding: 10px;
}

.hr-ft {
  margin-top: 50px;
  width: 100%;
}

iframe {
  justify-content: center;
  width: 100%;
}

/*estilos contato.index*/

.container-contato {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.nav-contato {
  display: flex;
  justify-content: flex-end;
  justify-content: space-between;
}

input,
textarea,
button {
  width: 100%;
  margin-top: 1rem;
  padding: 1rem;
  border-radius: 8px;
}

input,
textarea {
  border: 1px solid black;
}

button {
  background-color: transparent;
  cursor: pointer;
  width: 108%;
}

button:hover {
  background-color: #6c5954;
}

.info {
  padding-bottom: 20px;
}

.fundo {
  background-color: #555303;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 1000'%3E%3Cg fill-opacity='0.96'%3E%3Ccircle fill='%23555303' cx='50' cy='0' r='50'/%3E%3Cg fill='%235a5810' %3E%3Ccircle cx='0' cy='50' r='50'/%3E%3Ccircle cx='100' cy='50' r='50'/%3E%3C/g%3E%3Ccircle fill='%23605c1a' cx='50' cy='100' r='50'/%3E%3Cg fill='%23656123' %3E%3Ccircle cx='0' cy='150' r='50'/%3E%3Ccircle cx='100' cy='150' r='50'/%3E%3C/g%3E%3Ccircle fill='%236b662c' cx='50' cy='200' r='50'/%3E%3Cg fill='%23706a35' %3E%3Ccircle cx='0' cy='250' r='50'/%3E%3Ccircle cx='100' cy='250' r='50'/%3E%3C/g%3E%3Ccircle fill='%23756f3d' cx='50' cy='300' r='50'/%3E%3Cg fill='%237a7446' %3E%3Ccircle cx='0' cy='350' r='50'/%3E%3Ccircle cx='100' cy='350' r='50'/%3E%3C/g%3E%3Ccircle fill='%2380794e' cx='50' cy='400' r='50'/%3E%3Cg fill='%23857e57' %3E%3Ccircle cx='0' cy='450' r='50'/%3E%3Ccircle cx='100' cy='450' r='50'/%3E%3C/g%3E%3Ccircle fill='%238a835f' cx='50' cy='500' r='50'/%3E%3Cg fill='%238f8868' %3E%3Ccircle cx='0' cy='550' r='50'/%3E%3Ccircle cx='100' cy='550' r='50'/%3E%3C/g%3E%3Ccircle fill='%23948d71' cx='50' cy='600' r='50'/%3E%3Cg fill='%2399927a' %3E%3Ccircle cx='0' cy='650' r='50'/%3E%3Ccircle cx='100' cy='650' r='50'/%3E%3C/g%3E%3Ccircle fill='%239e9782' cx='50' cy='700' r='50'/%3E%3Cg fill='%23a39c8b' %3E%3Ccircle cx='0' cy='750' r='50'/%3E%3Ccircle cx='100' cy='750' r='50'/%3E%3C/g%3E%3Ccircle fill='%23a8a194' cx='50' cy='800' r='50'/%3E%3Cg fill='%23ada69d' %3E%3Ccircle cx='0' cy='850' r='50'/%3E%3Ccircle cx='100' cy='850' r='50'/%3E%3C/g%3E%3Ccircle fill='%23b1aba6' cx='50' cy='900' r='50'/%3E%3Cg fill='%23b6b1b0' %3E%3Ccircle cx='0' cy='950' r='50'/%3E%3Ccircle cx='100' cy='950' r='50'/%3E%3C/g%3E%3Ccircle fill='%23BBB6B9' cx='50' cy='1000' r='50'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: contain;
}

/*
Unidades de medida
px -> unidade absoluta
$ -> unidade relativa
viewUnits -> vw (viewWidth) / vh (viewHeight) -> unidade relativa (vai de 0 a 100)
rem -> do tamanho da letra M maiúscula do navegador do usuáriom, por padrão tem tamanha de 16px
*/
